[data-theme="light"] {
    --dark: white;
    --body-color: white;
}

[data-theme="dark"] {
    --dark: rgba(0, 0, 0, 0.152);
    --body-color: gray;
    --input-color:rgba(0, 0, 0, 0.162);

}
body {
    background: var(--body-color) !important;
}



@media screen and (min-width:1200px) {
    .productCol {
        width: 20% !important;
    }
}

